@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;1,9..40,300&family=Inter:wght@300;400;500&family=Poppins:wght@500&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;1,9..40,300&family=Inter:wght@300;400;500&family=Poppins:ital,wght@0,500;1,400&family=Rubik:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
background-color: #cccccc;
}
.navbar{
  background-color: white;
}
ul li {
  list-style: none;
}
header{
  background-color: #669371;
  top: 0px;
  position: fixed;
  width: 100%;
  z-index: 999;
}
div.landing-page-container{
  background-color: white;
}

.title h2{
  font-size: 60px;
  font-weight: bold;
  color: #111;
  /* font-family: 'Rubik', sans-serif; */
  font-family: sans-serif;
  /* top: 80%;
  left: 5%;
  position: relative; */
  text-align: center;
}
.title span{
  color: darkcyan;
  font-size: 60px;
}
p.about-desc{
  font-family: sans-serif;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  /* left: 85px;
  position: relative; */
}
button.exploreBtn{
  background-color: darkcyan;
  border: none;
  outline: none;
  padding: 14px;
  color: white;
  font-family: sans-serif;
  width: 250px;
}
.brand{
  width: 188px;
  height: 40px;
  top: 10px;
  position: relative;
}
::placeholder{
  color: #444;
}
.cardBox:hover{
  box-shadow: 0 4px 8px 0 rgba(29, 139, 121, 0.2), 0 6px 20px 0 rgba(4, 250, 139, 0.19);
  transition: all .5s;
}
.loginBtn{
  border: none;
  background-color: darkcyan;
  padding: 8px;
  color: white;
  border-radius: 20px;
  width: 150px;
}

.login-screen .col-md-6:first-child{
  background-color: #f5f6ff;
  height: 100vh;
  width: 50%;
}
.login-screen img{
  display: flex;
  align-items: center;
  top: 15%;
  position: absolute;
}
.leftSide h4{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  top: 11%;
  left: 10%;
  font-size: 40px;
  position: relative;
  font-family: sans-serif;
}
.leftSide h4 span{
  font-weight: 600;
  left: 10px;
  position: relative;
  color: darkcyan;
  font-size: 40px;
}
.login-screen input{
  width: 70%;
  border: none;
  border-bottom: 3px solid darkcyan;
  outline: none;
  background-color: white;
  padding: 7px;
}
.login-screen form p{
  top: 10px;
  position: relative;
}
.login-screen::placeholder{
  color: rgb(199, 182, 182);
  font-size: 20px;
}
.login-screen form button{
  width: 70%;
  margin-top: 40px;
  padding: 9px;
  border: none;
  outline: none;
  background-color: darkcyan;
  color: white;
  border-radius: 40px;
}
.login-screen h2{
  color: darkcyan;
  font-weight: bold;
}
.login-screen select{
  border-radius: 10px;
  padding: 8px;
  outline: none;
}

.vertical-tabs {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: white;
  color: rebeccapurple;
}

.vertical-tab-list {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 90%;
  background-color: white;
  border-right: 4px solid rgb(245, 242, 242);
  color: #666;
  font-size: 19px;
  font-weight: 500;
  font-family: sans-serif;
  line-height: 50px;
}

.vertical-tab {
  padding: 10px;
}

.vertical-tab:last-child {
  border-bottom: none;
}

.react-tabs__tab-panel {
  flex: 1;
  padding: 10px;
}
li.react-tabs__tab--selected{
 outline: none;
  background-color: #d67fff;
  color: white;
  border-radius: 50px;
  padding: 5px;
}
.dashboard-home .card{
  padding: 10px;
  height: 250px;
  border-radius: 10px;
}
.dashboard-home .card:hover{
  box-shadow: 0 4px 8px 0 rgba(5, 216, 231, 0.2), 0 6px 20px 0 rgba(2, 255, 137, 0.19);
}
.dashboard-home .card h3{
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20px;
  position: relative;
  font-weight: bold;
  font-size: 40px;
}
.dash-title{
  font-weight: bold;
  color: #161e4f;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
}
.list-section h3{
  font-weight: bold;
  color: #161e4f;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  left: 40px;
  position: relative;
}
p.date{
  color: #1d202f6b;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
}

.step-form{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(248, 237, 237, 0.19);
}
.statement{
  background-color: #f4ddca;
  border-radius: 10px;
}
section{
  padding: 100px;
}
section h2{
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
}
.card{
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  text-align: center;
  margin-top: 10px;
  height: 250px;
  border: none;
  outline: none;
}
.card h3{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Rubik', sans-serif;

}
.card img{
  height: 150px;
}

section p {
  font-weight: 500;
  color: #111;
  font-family: 'Poppins', sans-serif;
}
.advDiv{
  height: 350px;
  background-color:darkcyan;
  display: flex;
  justify-content: space-around;
  /* justify-content: center; */
  align-items: center;
}
.advDiv h4{
  color: white;
  font-size: 30px;
  font-family: 'Rubik', sans-serif;
  
}

.fa-search{
  font-size: 20px;
  color: #367536;
  top: -27px;
  left: -5px;
  position: relative;
}
.jobTitle{
  color: #111;
  font-size: 30px;
  font-family: 'Rubik', sans-serif; 
  font-weight: bold;
}
div.content p{
  color: #5f5f5f;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;

}
p.jobLocation{
  color: blue;
}
.myjobs h4{
  color: #111;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
 
}
div.list-section h5{
  color: #200f0f;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
 
}
div.list-section ul li{
  background-color: whitesmoke;
 border-radius: 15px;
 box-shadow: 0 4px 8px 0 rgba(236, 238, 238, 0.2), 0 6px 20px 0 rgba(35, 37, 36, 0.19);
 
}

div.adv-card{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(236, 238, 238, 0.2), 0 6px 20px 0 rgba(35, 37, 36, 0.19);
  padding: 40px;
  border-radius: 15px;
}
.error-box{
  background-color: #ffdddd;
  color: white;
  padding: 15px;
  border-radius: 15px;
  margin-top: 15px;
}
button.prevBtn{
  background-color: rgb(13, 204, 218);
  color: white;
  padding: 6px;
  border: none;
  border-radius: 7px;
}

button.nextBtn{
  background-color: rgb(13, 218, 122);
  color: white;
  padding: 6px;
  border: none;
  border-radius: 7px;
}



button.page-list-btn{
  background-color: lightgray;
  color: #111;
  padding: 6px;
  border: none;
  border-radius: 7px;
}

div.profile-image{
  display: flex;
  justify-content: center;
}

img.profile-image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

div.profile-image img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

div.profile-card{
  background-color: white;
  border-radius: 10px;
}
div.profile-card h5{
  font-family: 'Poppins', sans-serif;
  color: #161e4f;
}
div.profile-card p{
  font-family: 'Poppins', sans-serif;
  color: #8f94b4;
}
div.content{
  font-family: 'Poppins', sans-serif;
  color: #6d6f7a;
}
div.basic-information h5{
  color: #6d6f7a;
  font-size: 15px;
}

div.basic-information h6{
  color: #111;
  font-size: 15px;
  font-weight: bold;
}
button.dwnd-btn{
  padding: 8px;
  border: none;
  width: 200px;
  outline: none;
  background-color: rgb(147 147 255);
  color: white;
}
/* .stepss{
  top: -120px;
  position: relative;
} */

.information-text{
  font-family: 'Poppins', sans-serif;
  color: #0f1953;
}
img.thumbnail{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.actionBtn{
  border-radius: 10px;
  padding: 4px;
  border: none;
  outline: none;
}

div.job-count-div h3{
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: gray;
}

div.job-count-div h6{
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  
}
main{
  background-color: white;
}

.page1 h1{
  font-family: 'Poppins', sans-serif;
}
.card p{
  font-family: sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
}
.card h5{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}
.mu-icon{
  color: darkcyan;
  font-size: 35px;
 
  
}

div.icon-box{
  width: 60px;
  height: 60px;
  background-color: #d2fefe;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  align-items: center;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(235, 243, 241, 0.2), 0 6px 20px 0 rgba(119, 138, 129, 0.19); 
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  border-radius: 5px;
}

.search-input{
  box-shadow: 0 4px 8px 0 rgba(235, 243, 241, 0.2), 0 6px 20px 0 rgba(119, 138, 129, 0.19); 
  padding: 10px;
  height: 40px;
}
.searchBtn{
  background-color: darkcyan;
  color: white;
  width: 150px;
  border: none;
  outline: none;
}
div.MuiBox-root{
  width: 100%;
}

.jobs-lists{
  display: flex;
  /* flex-direction: column;
  width: 100%; */
}
.job-type{
  padding: 4px;
  width: fit-content;
  border-radius: 6px;
}

.Permanent {
  background-color: #57f657;
  color: white;
}
.job-details-page h5{
  font-weight: 600;
}